@config "../tailwind.config.ts";
@import "tailwindcss";

:root {
	--light-color-1: #EAE0C8;
	--light-color-2: #4ABA94;

	--dark-color-1: #536878;
	--dark-color-2: #055254;

	--contrast-color: #ED6A5A;

	--text-color: #536878;
}

@media (prefers-color-scheme: dark) {
	:root {
		--dark-color-1: #EAE0C8;
		--dark-color-2: #4ABA94;

		--light-color-1: #536878;
		--light-color-2: #055254;

		--contrast-color: #ED6A5A;

		--text-color: #CAC4CE;
	}
}

body {
	color: var(--text-color);
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: 0;
}
